* {
    text-align: center;
}

.header {
  padding: 0;
  background-color: LightCoral;
}

.information {
  padding: 0;
  background-color: LightSalmon;
}

.data {
  padding: 0;
  background-color: PeachPuff;
}
