* {
    text-align: center;
}

.header {
  margin: 0px;
  padding: 0px;
  background-color: LightCoral;
}

.information {
  margin: 0px;
  padding: 0px;
  background-color: LightSalmon;
}

.data {
  margin: 0px;
  padding: 0px;
  background-color: PeachPuff;
}
