* {
    text-align: center;
    font-family: Calibri;
}

.header {
  margin: 0;
  padding: 0px;
  background-color: LightCoral;
}

.information {
  margin: 0;
  padding: 0px;
  background-color: LightSalmon;
}

.data {
  margin: 0;
  padding: 0px;
  background-color: PeachPuff;
}
